@use "../../styles.scss" as s;

.container {
  position: fixed;
  right: 0;
  min-height: 250px;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 20px 15px rgba($color: s.$Black, $alpha: 0.2);
  background-color: s.$White;
  visibility: hidden;
  @media (min-width: s.$ViewPortBreakpoint) {
    position: absolute;
    width: max-content;
    right: -4rem;
    margin-top: 0.7rem;
  }
  @media (min-width: s.$ViewPortBreakpointDesktop) {
    left: 50%;
    transform: translateX(-50%);
  }
  .cart-container {
    background-color: s.$White;
    padding: 1.5rem 0;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    @media (min-width: s.$ViewPortBreakpoint) {
      padding: 1rem 0 1.5rem 0;
    }
    .title {
      margin: 0 1.5rem;
      font-size: 1rem;
      font-weight: 700;
    }
    hr {
      margin: 1.5rem 0;
      margin-top: 2rem;
      border-color: rgba($color: s.$LightGrayishBlue, $alpha: 0.3);
    }
    .product-container {
      display: grid;
      grid-template-columns: 1fr 70% 1fr;
      align-items: center;
      margin: 0 1.5rem;
      gap: 1rem;
      color: s.$DarkGrayishBlue;
      .img-container {
        border: none;
        background-color: transparent;
        &:first-child {
          img {
            width: 3rem;
            border-radius: 5px;
          }
        }
        &:last-child {
          padding: 0.3rem;
          outline-color: transparent;
          transition: all 0.2s;
          &:focus {
            outline-color: s.$Orange;
          }
          img {
            width: 1rem;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .price-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .description {
          margin: 0;
        }
        .price {
          margin: 0;
          .total {
            font-weight: 700;
            color: s.$VeryDarkBlue;
            margin-left: 0.5rem;
          }
        }
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
      .btn {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        background-color: s.$Orange;
        border: none;
        padding: 1rem;
        width: 100%;
        margin: 0 1.5rem;
        margin-top: 1.5rem;
        border-radius: 10px;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          background-color: rgba($color: s.$Orange, $alpha: 0.7);
        }
        &:focus {
          outline: none;
          background-color: rgba($color: s.$Orange, $alpha: 0.7);
        }
      }
    }
    .empty-cart {
      display: grid;
      min-width: 360px;
      min-height: 7rem;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
      }
    }
  }
}
.open-cart {
  visibility: visible;
  .cart-container {
    opacity: 1;
  }
}
