<article class="container" [class.open-cart]="cartFlag() === true" #container>
  <div class="cart-container">
    <h2 class="title">Cart</h2>
    <hr />
    @if (cartProducts().length > 0) {
    <div class="product-container">
      <div class="img-container">
        <img
          src="./images/image-product-1-thumbnail.jpg"
          alt="product image"
          width="auto"
          height="auto"
        />
      </div>
      <div class="price-container">
        <p class="description">
          {{ cartProducts()[0].description }}
        </p>
        <p class="price">
          {{ cartProducts()[0].price | currency }} x
          {{ cartProducts()[cartProducts().length - 1].quantity }}
          <span class="total">{{
            cartProducts()[0].price *
              cartProducts()[cartProducts().length - 1].quantity | currency
          }}</span>
        </p>
      </div>
      <button class="img-container" (click)="handleDelete()">
        <img
          src="./images/icon-delete.svg"
          alt="delete icon"
          width="auto"
          height="auto"
        />
      </button>
    </div>
    <div class="btn-container">
      <button class="btn" (click)="handleCheckout()">Checkout</button>
    </div>
    } @else {
    <div class="empty-cart">
      <p>Your cart is empty.</p>
    </div>
    }
  </div>
</article>
