@if (cartProducts().length > 0) {
<article class="container" [class.open-cart]="cartFlag() === true" #container>
  <div class="cart-container">
    <h2 class="title">Cart</h2>
    <hr />
    <div class="product-container">
      <img
        src="./images/image-product-1-thumbnail.jpg"
        alt="product image"
        width="auto"
        height="auto"
      />
      <div class="price-container">
        <p class="description">
          {{ cartProducts()[0].description }}
        </p>
        <p class="price">
          ${{ cartProducts()[0].price }} x
          {{ cartProducts()[cartProducts().length - 1].quantity }}
          <span class="total"
            >${{
              cartProducts()[0].price *
                cartProducts()[cartProducts().length - 1].quantity
            }}</span
          >
        </p>
      </div>
      <img
        src="./images/icon-delete.svg"
        alt="delete icon"
        width="auto"
        height="auto"
      />
    </div>
    <div class="btn-container">
      <button class="btn">Checkout</button>
    </div>
  </div>
</article>
}
