<nav class="container">
  <div class="img-container ham-container" (click)="toggleMenu()">
    <img
      class="img"
      src="./images/icon-menu.svg"
      alt="Hamburger manu icon"
      width="auto"
      height="auto"
    />
  </div>

  <h1 class="title">sneakers</h1>

  <div class="menu-container">
    <ul>
      <li class="link"><a href="#">Collections</a></li>
      <li class="link"><a href="#">Men</a></li>
      <li class="link"><a href="#">Women</a></li>
      <li class="link"><a href="#">About</a></li>
      <li class="link"><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="img-container cart-img-container">
    <img
      class="img"
      src="./images/icon-cart.svg"
      alt="Cart icon"
      width="auto"
      height="auto"
      (click)="toggleCart()"
    />
    @if (quantityOfProductsInsideCart() > 0) {
    <div class="cart-quantity" (click)="toggleCart()">
      {{ quantityOfProductsInsideCart() }}
    </div>
    }
  </div>
  <div class="img-container avatar-container">
    <img
      class="img"
      src="./images/image-avatar.png"
      alt="Avatar profile image"
      width="25"
      height="auto"
    />
  </div>
  <app-off-screen-menu></app-off-screen-menu>
  <app-cart></app-cart>
</nav>
<hr />
