@use "../styles.scss" as s;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 60% 1fr 1fr;
  align-items: center;
  .img-container {
    .img {
      vertical-align: middle;
    }
  }
  .ham-container {
    margin-left: 1rem;
    justify-self: center;
  }
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    margin: 1rem 0;
    letter-spacing: -1px;
  }
  .avatar-container {
    margin-right: 1rem;
  }
  app-off-screen-menu {
    position: fixed;
    align-self: baseline;
    height: 100%;
  }
}
