<nav class="container">
  <div class="img-container ham-container" (click)="toggleMenu()">
    <img
      class="img"
      src="./images/icon-menu.svg"
      alt="Hamburger manu icon"
      width="auto"
      height="auto"
    />
  </div>

  <h1 class="title"><a href="#">sneakers</a></h1>

  <div class="menu-container">
    <ul>
      <li class="link"><a href="#">Collections</a></li>
      <li class="link"><a href="#">Men</a></li>
      <li class="link"><a href="#">Women</a></li>
      <li class="link"><a href="#">About</a></li>
      <li class="link"><a href="#">Contact</a></li>
    </ul>
  </div>

  <div>
    <button class="img-container cart-img-container" (click)="toggleCart()">
      <img
        class="img"
        src="./images/icon-cart.svg"
        alt="Cart icon"
        width="auto"
        height="auto"
      />
      @if (quantityOfProductsInsideCart() > 0) {
      <div class="cart-quantity">
        {{ quantityOfProductsInsideCart() }}
      </div>
      }
    </button>
    <app-cart></app-cart>
  </div>
  <button class="img-container avatar-container">
    <img
      class="img"
      src="./images/image-avatar.png"
      alt="Avatar profile image"
      width="25"
      height="auto"
    />
  </button>
  <app-off-screen-menu></app-off-screen-menu>
</nav>
<hr />
