<nav class="container">
  <div class="img-container ham-container" (click)="toggleMenu()">
    <img
      class="img"
      src="./images/icon-menu.svg"
      alt="Hamburger manu icon"
      width="auto"
      height="auto"
    />
  </div>

  <h1 class="title">sneakers</h1>

  <div class="img-container">
    <img
      class="img"
      src="./images/icon-cart.svg"
      alt="Cart icon"
      width="auto"
      height="auto"
      (click)="toggleCart()"
    />
  </div>
  <div class="img-container avatar-container">
    <img
      class="img"
      src="./images/image-avatar.png"
      alt="Avatar profile image"
      width="25"
      height="auto"
    />
  </div>
  <app-off-screen-menu></app-off-screen-menu>
  <app-cart></app-cart>
</nav>
