<div class="container">
  <section class="product-img-container">
    <div class="img-container">
      <img
        src="./images/image-product-1.jpg"
        alt="Product image 1"
        width="100%"
        height="auto"
      />
    </div>
    <div class="btn-container">
      <button class="btn">
        <img
          src="./images/icon-previous.svg"
          alt="previous icon"
          width="auto"
          height="auto"
        />
      </button>
      <button class="btn">
        <img
          src="./images/icon-next.svg"
          alt="next icon"
          width="auto"
          height="auto"
        />
      </button>
    </div>
  </section>
  <section class="product-info-container">
    <p class="company">SNEAKER COMPANY</p>
    <h2 class="title">Fall Limited Edition Sneakers</h2>
    <p class="description">
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they’ll withstand everything the
      weather can offer.
    </p>
    <div class="price-container">
      <h2 class="price">$125.00</h2>
      <p class="discount">50%</p>
      <p class="original-price">$250.00</p>
    </div>
    <div class="btn-container">
      <div class="units-container">
        <button class="minus-btn" (click)="changeQuantity('decrease')">
          <img
            src="./images/icon-minus.svg"
            alt="minus icon"
            width="auto"
            height="auto"
          />
        </button>
        <p class="units">{{ quantity() }}</p>
        <button class="plus-btn" (click)="changeQuantity('increase')">
          <img
            src="./images/icon-plus.svg"
            alt="plus icon"
            width="auto"
            height="auto"
          />
        </button>
      </div>
      <button class="add-cart-btn" (click)="addToCart()">
        <img
          src="./images/icon-cart.svg"
          alt="cart icon"
          width="auto"
          height="auto"
        />Add to cart
      </button>
    </div>
  </section>
</div>
