@use "../styles.scss" as s;

.container {
  margin-bottom: 4rem;
  @media (min-width: s.$ViewPortBreakpoint) {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    gap: 5rem;
  }
  .product-img-container {
    position: relative;
    @media (min-width: s.$ViewPortBreakpoint) {
      max-width: 500px;
    }
    .img-container {
      display: block;
      aspect-ratio: 1/1;
      .img-btn {
        background-color: transparent;
        padding: 0;
        height: 100%;
        border-radius: 13px;
        border: none;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
        &:focus-visible {
          opacity: 0.7;
        }
        img {
          animation: fadeIn 0.2s ease-in-out;
          @media (min-width: s.$ViewPortBreakpoint) {
            border-radius: 10px;
          }
        }
      }
      .btn-transparent-outline {
        outline: 2px solid transparent;
      }
      .selected {
        outline: 2px solid s.$Orange;
        img {
          opacity: 0.3;
        }
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .btn-container {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      transform: translateY(-50%);
      top: 50%;
      @media (min-width: s.$ViewPortBreakpoint) {
        display: none;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        padding: 0.5rem;
        img {
          width: 80%;
          height: 80%;
          object-fit: contain;
        }
        &:first-child {
          margin-left: 1rem;
        }
        &:last-child {
          margin-right: 1rem;
        }
      }
    }
    .thumbnails-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      @media (max-width: (s.$ViewPortBreakpoint - 1px)) {
        display: none;
      }
    }
  }
  .product-info-container {
    padding: 1.5rem;
    .company {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 700;
      color: s.$DarkGrayishBlue;
      letter-spacing: 1px;
    }
    .title {
      margin: 1rem 0;
      font-size: 1.8rem;
      font-weight: 700;
      color: s.$VeryDarkBlue;
      @media (min-width: s.$ViewPortBreakpoint) {
        font-size: 2rem;
      }
    }
    .description {
      line-height: 1.5rem;
      color: s.$DarkGrayishBlue;
      letter-spacing: -0.4px;
    }
    .price-container {
      display: grid;
      grid-template-columns: 1fr 25% 1fr;
      align-items: center;
      gap: 1rem;
      @media (min-width: s.$ViewPortBreakpoint) {
        grid-template-columns: 1fr 75%;
      }
      .price {
        font-size: 1.8rem;
        font-weight: 700;
        color: s.$VeryDarkBlue;
        @media (min-width: s.$ViewPortBreakpoint) {
          margin-bottom: 0;
        }
      }
      .discount {
        background-color: s.$VeryDarkBlue;
        color: s.$White;
        font-weight: 700;
        width: min-content;
        padding: 0.2rem 0.5rem;
        border-radius: 7px;
        @media (min-width: s.$ViewPortBreakpoint) {
          margin-top: 1.5rem;
          margin-bottom: 0;
        }
      }
      .original-price {
        justify-self: end;
        font-weight: 700;
        color: s.$DarkGrayishBlue;
        text-decoration: line-through;
        @media (min-width: s.$ViewPortBreakpoint) {
          justify-self: start;
          margin-top: 0;
          margin-bottom: 2rem;
        }
      }
    }
    .btn-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      @media (min-width: s.$ViewPortBreakpoint) {
        grid-template-columns: 1fr 55%;
      }
      .units-container {
        background-color: s.$LightGrayishBlue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        @media (min-width: s.$ViewPortBreakpoint) {
          padding: 1rem 0;
        }
        @media (min-width: (s.$ViewPortBreakpointDesktop + 200px)) {
          padding: 1rem;
        }
        button {
          border: none;
          background-color: transparent;
          padding: 0.5rem;
          display: flex;
          outline: 2px solid transparent;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
          }
          &:focus-visible {
            outline-color: s.$Orange;
          }
        }
        .units {
          margin: 0;
          font-weight: 700;
          color: s.$VeryDarkBlue;
        }
      }
      .add-cart-btn {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border: none;
        border-radius: 10px;
        color: s.$VeryDarkBlue;
        font-family: "Kumbh Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        background-color: s.$Orange;
        box-shadow: 0 10px 20px rgba($color: s.$Orange, $alpha: 0.3);
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
        &:focus-visible {
          opacity: 0.7;
          outline: none;
        }
      }
    }
  }
}
