<div class="container">
  <section class="product-img-container">
    <div class="img-container">
      <button class="img-btn">
        @if (imgIndex() === 1 ) {
        <img
          src="./images/image-product-1.jpg"
          alt="Product image 1"
          width="100%"
          height="auto"
        />
        } @if (imgIndex() === 2 ) {
        <img
          src="./images/image-product-2.jpg"
          alt="Product image 2"
          width="100%"
          height="auto"
        />
        }@if (imgIndex() === 3 ) {
        <img
          src="./images/image-product-3.jpg"
          alt="Product image 3"
          width="100%"
          height="auto"
        />
        }@if (imgIndex() === 4 ) {
        <img
          src="./images/image-product-4.jpg"
          alt="Product image 4"
          width="100%"
          height="auto"
        />
        }
      </button>
    </div>
    <div class="btn-container">
      @if (imgIndex() > 1) {
      <button class="btn" (click)="handleImgChange('previous')">
        <img
          src="./images/icon-previous.svg"
          alt="previous icon"
          width="auto"
          height="auto"
        />
      </button>
      }
      <div></div>
      @if (imgIndex() < 4) {

      <button class="btn" (click)="handleImgChange('next')">
        <img
          src="./images/icon-next.svg"
          alt="next icon"
          width="auto"
          height="auto"
        />
      </button>
      }
    </div>
    <div class="thumbnails-container">
      <div class="img-container">
        <button
          class="img-btn"
          [class.selected]="imgIndex() === 1"
          (click)="handleImgChangeWithThumbnail(1)"
        >
          <img
            src="./images/image-product-1-thumbnail.jpg"
            alt="thumbnail 1"
            width="100%"
            height="auto"
          />
        </button>
      </div>
      <div class="img-container">
        <button
          class="img-btn"
          [class.selected]="imgIndex() === 2"
          (click)="handleImgChangeWithThumbnail(2)"
        >
          <img
            src="./images/image-product-2-thumbnail.jpg"
            alt="thumbnail 2"
            width="100%"
            height="auto"
          />
        </button>
      </div>
      <div class="img-container">
        <button
          class="img-btn"
          [class.selected]="imgIndex() === 3"
          (click)="handleImgChangeWithThumbnail(3)"
        >
          <img
            src="./images/image-product-3-thumbnail.jpg"
            alt="thumbnail 3"
            width="100%"
            height="auto"
          />
        </button>
      </div>
      <div class="img-container">
        <button
          class="img-btn"
          [class.selected]="imgIndex() === 4"
          (click)="handleImgChangeWithThumbnail(4)"
        >
          <img
            src="./images/image-product-4-thumbnail.jpg"
            alt="thumbnail 4"
            width="100%"
            height="auto"
          />
        </button>
      </div>
    </div>
  </section>
  <section class="product-info-container">
    <p class="company">SNEAKER COMPANY</p>
    <h2 class="title">Fall Limited Edition Sneakers</h2>
    <p class="description">
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they’ll withstand everything the
      weather can offer.
    </p>
    <div class="price-container">
      <h2 class="price">$125.00</h2>
      <p class="discount">50%</p>
      <p class="original-price">$250.00</p>
    </div>
    <div class="btn-container">
      <div class="units-container">
        <button class="minus-btn" (click)="changeQuantity('decrease')">
          <img
            src="./images/icon-minus.svg"
            alt="minus icon"
            width="auto"
            height="auto"
          />
        </button>
        <p class="units">{{ quantity() }}</p>
        <button class="plus-btn" (click)="changeQuantity('increase')">
          <img
            src="./images/icon-plus.svg"
            alt="plus icon"
            width="auto"
            height="auto"
          />
        </button>
      </div>
      <button class="add-cart-btn" (click)="addToCart()">
        <img
          src="./images/icon-cart.svg"
          alt="cart icon"
          width="auto"
          height="auto"
        />Add to cart
      </button>
    </div>
  </section>
</div>
